{% extends "base/baseindex.html" %}

{% load static %}

{# Meta #}
{% block description %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}



{# Header #}
{% block headerBackground %}
    url(' {% static 'about/group.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    About Us
{% endblock %}

{% block headerSubheading %}
    Founded 10 years ago, the ULL SWE section aims to ..........
{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Local Mission Block-->{% endblock %}

{% block firstBlockImage %}
    {% static 'base/img/swe-ull-color-logo.png' %}
{% endblock %}

{% block firstBlockText %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac, tincidunt at leo
{% endblock %}



{# Second Block #}
{% block secondBlockComment %}<!--Officers Block-->{% endblock %}
{% block secondBlock %}

{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %} {% endblock %}
{% block fourthBlock %} {% endblock %}






