{% extends "base/baseindex.html" %}

{% load static %}

{% block description %} About | SWE - University of Louisiana at Lafayette {% endblock %}

{% block title %} About | SWE - University of Louisiana at Lafayette {% endblock %}


{% block headerBackground %} url(' {% static 'about/group.jpg' %} ') {% endblock %}

{# This page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %} About Us {% endblock %}

<!-- CLIFFHANGER: Get about page set up, add more blocks to baseindex.html to override in this file -->