{% extends "base/baseindex.html" %}

{% load static %}

{# Meta #}
{% block description %}
    Volunteer Points | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Volunteer Points | SWE - University of Louisiana at Lafayette
{% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'volunteerpoints/img/header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Volunteer Points
{% endblock %}

{% block headerSubheading %}
    {# Add some stuff about earning points by volunteering #}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}

{% block headerButton %}
    <div class="headerButton">
        <div class="clearfix">
            <div class="dropdown show">
                <a class="btn btn-primary" href="https://google.com" role="button">
                    Point Tracker
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{# First Block #}
{% block firstBlockComment %}<!--WE19 Block-->{% endblock %}

{% block firstBlockImgTag %}
    <img class="img-fluid mx-auto d-block" style="height: 125px"
         src="{% block firstBlockImage %}{% static 'volunteerpoints/img/we19.jpg' %}{% endblock %}"
         alt="SWE 19 logo">
{% endblock %}

{% block firstBlockText %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}

{% block secondBlockComment %}<!--Volunteer Point Table Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# fill out bootstrap table #}

{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}
