<div class="container text-center">
    <div class="whitespace">
        <h1>More details about {{ swe_volunteer.conference_abbreviation }}</h1>
        <hr>
        <ul>
            <li>
                <h4>
                    Our goal for Spring 2019 is to provide housing for {{ swe_volunteer.students_taking }} students
                </h4>
            </li>
            <li>
                <h4>
                    Housing will be in a hotel within walking distance to {{ swe_volunteer.conference_abbreviation }}
                    with free continental breakfast and Wifi
                </h4>
            </li>
            <li>
                <h4>
                    Hotel will be available Wednesday, November 6th to Sunday, November 10th
                </h4>
            </li>
            <li>
                <h4>
                    To pay for the hotel, SWE UL is organizes fundraising in the spring, summer, and fall with events such
                    as SWE Snacks on the Street and Give-Back Nights
                </h4>
            </li>
        </ul>
    </div>
</div>