<div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <div class="table-responsive">
                    <table id="points-table" class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Points</th>
                            <th scope="col">How To Receive Credit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>General Meetings</td>
                            <td>2 / Meeting</td>
                            <td>Sign In & Out</td>
                        </tr>
                        <tr>
                            <td>Training Events & Info Sessions</td>
                            <td>3 / Event</td>
                            <td>Sign In & Out with SWE Officer</td>
                        </tr>
                        <tr>
                            <td>Fundraising Events</td>
                            <td>3 / Recipient</td>
                            <td>Email us a picture of your receipt from the give-back night</td>
                        </tr>
                        <tr>
                            <td>Organize & Implement a Fundraising Event</td>
                            <td>5 / Event</td>
                            <td>
                                <a href="mailto:{{ swe_officers_secondary.swe_fundraising_chair.email }}" target="_blank" rel="noopener">
                                    Email
                                </a>
                                our Fundraising Chair <br> for more information</td>
                        </tr>
                        <tr>
                            <td>Attending a WE20 Information Session</td>
                            <td>2 / Event</td>
                            <td>
                                Email us a quick synopsis of what the information
                                <hr>
                                session was about and what you learned.
                            </td>
                        </tr>
                        <tr>
                            <td>Attending a WE20 Information Session</td>
                            <td>3 / Day</td>
                            <td>
                                Email us the picture of your registration.
                                <hr>
                                *This is a one-time redeemable opportunity.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>