<div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <div class="table-responsive">
                    {# TODO add rel and non-reopener to all urls #}
                    <table id="points-table" class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Points</th>
                            <th scope="col">How To Receive Credit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>General Meetings</td>
                            <td>2 / Meeting</td>
                            <td>Sign In & Out</td>
                        </tr>
                        <tr>
                            <td>Training Events & Info Sessions</td>
                            <td>3 / Event</td>
                            <td>Sign In & Out with SWE Officer</td>
                        </tr>
                        <tr>
                            <td>Industry Tours</td>
                            <td>5 / Tour</td>
                            <td>Sign In & Out with SWE Officer</td>
                        </tr>
                        <tr>
                            <td>Fundraising Events</td>
                            <td>1 / Hour</td>
                            <td>Sign In & Out with SWE Officer</td>
                        </tr>
                        <tr>
                            <td>Volunteer Events</td>
                            <td>3 / Event</td>
                            <td><a href="mailto:{{ swe_social.email }}" target="_blank" rel="noopener">
                                Email us,
                            </a>
                                or fill out the event's <br> sign up form online.
                                <hr>
                                Then, take a seflie at the event <br> and post it to our
                                <a href="{{ swe_social.facebook }}" target="_blank"
                                   rel="noopener">Facebook
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Organize & Implement a Fundraising Event</td>
                            <td>5 / Event</td>
                            <td>
                                <a href="mailto:{{ swe_officers_secondary.swe_fundraising_chair.email }}">
                                    Email
                                </a>
                                our Fundraising Chair <br> for more information</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>