<div class="container-fluid text-center" style="background-color: #F5F5F5">
    <div class="whitespace">
        <div class="container">
            <div class="whitespace">
                <h1>Volunteer Point Rules</h1>
                <h4>We want everyone to </h4>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Lying About Your Participation:
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card-title">
                                <p>Don't lie about your participation in an event. <br>This includes:</p>
                            </div>
                            <div class="card-subtitle">
                                <ul>
                                    <li>
                                        Sending someone to take your place
                                    </li>
                                    <li>
                                        Not staying for the full time you committed to.
                                    </li>
                                    <li>
                                        Showing up, taking a picture, and leaving if taking a picture is a requirement
                                        for event credit
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                             aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Acting Unprofessionally at an Event
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card-title">
                                    <p>
                                        We shouldn't have to say this, but please act professionally at all events.
                                        <br>
                                        Some examples of acting unprofessionally include:
                                    </p>
                                </div>
                                <div class="card-subtitle">
                                    <ul>
                                        <li>
                                            Fighting with fellow volunteers or attendees.
                                        </li>
                                        <li>
                                            Attending an event intoxicated.
                                        </li>
                                        <li>
                                            Not showing up to an event without letting a SWE Officer know
                                        </li>
                                        <li>
                                            Doing anything you wouldn't do at work, school, or any other professional
                                            setting
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>