{% extends "base/base.html" %}

{% load static %}

{# Meta #}
{% block description %}
    Volunteer Points | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Volunteer Points | SWE - University of Louisiana at Lafayette
{% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'volunteerpoints/img/header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Volunteer Points
{% endblock %}

{% block headerSubheading %}{% endblock %}

{% block headerButton %}
    <div class="headerButton">
        <div class="clearfix">
            <div class="dropdown show">
                <a class="btn btn-primary" href="{% url 'pointtracker' %}" role="button">
                    Point Tracker
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{# First Block #}

{% block firstBlockImgTag %}
    <img class="img-fluid mx-auto d-block" style="height: 125px"
         src="{% block firstBlockImage %}{% static 'volunteerpoints/img/we19.jpg' %}{% endblock %}"
         alt="SWE 19 logo">
{% endblock %}

{% block firstBlockText %}
    Our SWE section is going to
    <a href="{{ swe_volunteer.conference_website }}" target="_blank"
       rel="noopener">{{ swe_volunteer.conference_abbreviation }}</a>, the largest career
    fair
    for Female Engineers in the country, and we want to pay for {{ swe_volunteer.students_taking }} students to come
    with us.
    <p>
        To qualify for financial assistance for {{ swe_volunteer.conference_abbreviation }}, you need to
        earn {{ swe_volunteer.points_needed }}
        volunteer points. The table below outlines the
        kinds of events we organize throughout the semester, and how many volunteer points
        you'll earn by attending them.
    </p>
    <p>
    Planning on going to {{ swe_volunteer.conference_abbreviation }} with us?  Fill out
        <a href="https://forms.gle/r2VKmSxsYbHPA4WLA" target="_blank" rel="noopener">this form</a>
    </p>
{% endblock %}

{% block secondBlock %}
    {% include 'volunteerpoints/pointvaluetable.html' %}
{% endblock %}


{% block thirdBlock %}
    {% include 'volunteerpoints/conferenceinfo.html' %}
{% endblock %}
{% block fourthBlock %}
    {% include 'volunteerpoints/rules.html' %}
{% endblock %}
