<!DOCTYPE html>
<html lang="en">
{# TODO compress images/make them web-ready #}
<head>
    <meta name="author" content="Al Sharairi">
    <meta name="description"
          content= {% block description %} "SWE ULL | Society of Women Engineers University of Louisiana at Lafayette Section" {% endblock %}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title> {% block title %} SWE - University of Louisiana at Lafayette {% endblock %}</title>

    {% load static %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'base/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="{% static 'base/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato&display=swap" rel="stylesheet">

    <!-- Style -->
    <link href="{% static 'base/css/clean-blog.css' %}" rel="stylesheet">

    <!-- Lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.css">


</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="swelogonav"><img src="{% static 'base/img/swe-white-logo.png' %}" height="39vh"></div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">
                        <div class="navButton">About</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getinvolved' %}">
                        <div class="navButton">Get Involved</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">
                        <div class="navButton">Events</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'volunteerpoints' %}">
                        <div class="navButton">Volunteer Points</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pointtracker' %}">
                        <div class="navButton">Point Tracker</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead"
        style="object-fit: fill; background-image:{% block headerBackground %}url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} '){% endblock %}">
    {% block gradient %}
        <div class="gradient"></div>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{% block headerHeading %}Aspire / Advance / Achieve{% endblock %}</h1>
                    <span class="subheading">
                            {% block headerSubheading %}
                                Society of Women Engineers is a national nonprofit organization which strives to
                                highlight the achievements of women as leaders and engineers.{% endblock %}
                    </span>
                    <br>
                    {% block headerButton %}
                        <div class="clearfix">
                            <div class="headerButton">
                                <a class="btn btn-primary" href="{% url 'getinvolved' %}">
                                    {% block headerButtonText %}
                                        Get Involved
                                    {% endblock %}
                                </a>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</header>

<br>

<!-- Main Content -->
{% block firstBlockComment %}<!--Mission Block-->{% endblock %}
{% block firstBlock %}
    <div class="container">
        <div class="whitespace">
            {% block firstBlockImgTag %}
                <img class="img-fluid mx-auto d-block" style="height: 175px"
                     src="{% block firstBlockImage %}{% static 'base/img/girls.png' %}{% endblock %}"
                     alt="Three girls holding hands">
            {% endblock %}
            <br>
            <br>
            {% block firstBlockTextTag %}
                <h4 class="post-subtitle text-center">
                    {% block firstBlockText %}
                        Our mission is to empower women to achieve full potential in careers as
                        engineers and leaders, expand the image of the engineering and technology professions as a
                        positive
                        force in
                        improving the quality of life, and demonstrate the value of diversity and inclusion.
                    {% endblock %}
                </h4>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block secondBlockComment %}<!--Card Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <!--all pictures are 300x300 internally-->
                        <img class="card-img-top" src="{% static 'base/img/get-involved.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Get Involved</h5>
                            <p class="card-text">We take pride in our community outreach and volunteer efforts. Help us
                                give
                                back to Acadiana by getting involved with SWE. </p>
                            <br>
                            <br>
                            <a href="{% url 'getinvolved' %}" class="card-link">Get Involved →</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{% static 'base/img/swe-events.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">Events</h5>
                            <p class="card-text">We organize Industry Tours, Resume Workshops, Q&A Sessions, Fundraising
                                Initiatives, Community Outreach, and much more throughout the semester.</p>
                            <br>
                            <a href="{% url 'events' %}" class="card-link">See Events →</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{% static 'base/img/volunteer-points.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">Volunteer Points</h5>
                            <p class="card-text">Earn points by volunteering, attending meetings, and going to events.
                                After 30 points, we'll pay for you to attend the
                                <a href="https://we19.swe.org/">largest career fair</a>
                                for Female Engineers in the country </p>
                            <a href="{% url 'volunteerpoints' %}" class="card-link">Learn More →</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block thirdBlockComment%}<!--Donation Block-->{% endblock %}
{% block thirdBlock %}
    <div class="container">
        <div class="whitespace">
            <img class="img-fluid mx-auto d-block" style="height: 200px" src="{% static 'base/img/donate-hands.png' %}">
            <br>
            <br>
            <div class="container">
                <div class="col justify-content-center">
                    <div class="row">
                        <h4 class="post-subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean
                            ullamcorper arcu eget
                            nisl elementum vulputate. Integer sollicitudin feugiat risus ac varius. Nulla laoreet risus
                            orci,
                            sed
                            accumsan risus ultrices eu. Mauris vitae vehicula turpis. Aliquam viverra dui sit amet risus
                            elementum
                            sagittis. In at finibus sem. Vivamus vestibulum est ut diam commodo, non placerat orci
                            laoreet.
                            Nam
                            semper
                            ac orci eget</h4>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <form id="donateButton" action="https://www.paypal.com/cgi-bin/webscr" method="post"
                              target="_top">
                            <input type="hidden" name="cmd" value="_donations"/>
                            <input type="hidden" name="business" value="8S23SYQHZ2M3Q"/>
                            <input type="hidden" name="item_name"
                                   value="Society of Women Engineers - University of Louisiana At Lafayette"/>
                            <input type="hidden" name="currency_code" value="USD"/>
                            <input type="image" src="{% static 'base/img/paypal-donate.png' %}"
                                   border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                   alt="Donate with PayPal button"/>
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"
                                 height="1"/>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block fourthBlockComment %}<!--Sponsors Block-->{% endblock %}
{% block fourthBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <div class="col">
                    <div class="row justify-content-center">
                        <h4 class="post-subtitle text-center">Thank you to our Sponsors!</h4>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <img class="img-fluid mx-auto d-block" src="{% static 'base/img/sponsors/ragincajun.png' %}"
                             style="height: 175px"
                             title="ULL College of Engineering">
                        <img class="img-fluid mx-auto d-block" src="{% static 'base/img/sponsors/jaks.jpg' %}"
                             style="height: 175px"
                             title="Jak's Donuts">
                        <img class="img-fluid mx-auto d-block" src="{% static 'base/img/sponsors/sierra.jpg' %}"
                             style="height: 155px"
                             title="Sierra Hamilton">
                        <img class="img-fluid mx-auto d-block" src="{% static 'base/img/sponsors/kona.png' %}"
                             style="height: 155px"
                             title="Kona Ice of Acadiana">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Footer -->
{# TODO abstract these before deployment #}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:swe.ulchapter@gmail.com" target="_blank" rel="noopener">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-envelope fa-stack-1x fa-inverse" title="Email"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCW_rAv6ZARuX8f7bAq2LjLA/featured?view_as=subscriber.com/"
                           target="_blank" rel="noopener">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse" title="YouTube"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/groups/774749222697769/about/" target="_blank" rel="noopener">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse" title="Facebook"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://orgsync.com/124699/chapter" target="_blank" rel="noopener">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-sync-alt fa-stack-1x fa-inverse" title="OrgSync"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Created by Al Sharairi<br>
                    Copyright &copy; Society of Women Engineers 2019</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'base/js/clean-blog.min.js' %}"></script>

<!-- Scripts for lightbox effect on gallery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

</body>

</html>
