{% extends "base/base.html" %}

{% load static crispy_forms_tags %}

{% block description %} "Point Tracker | SWE - University of Louisiana at Lafayette" {% endblock %}

{% block title %} "SWE ULL | Point Tracker" {% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} ')
{% endblock %}

{% block gradient %}
    <div class="gradient"></div>
{% endblock %}

{% block headerHeading %}
    You have {{ member_data.total }} points
{% endblock %}

{% block headerSubheading %}
    You need {{ swe_volunteer.points_needed }} points to qualify for financial assistance to
    {{ swe_volunteer.conference_abbreviation }}
{% endblock %}

{% block headerButton %} {% endblock %}


{% block firstBlock %}
    <div class="container">
        <div class="whitespace">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event Attended</th>
                        <th scope="col" class="text-center">Point(s) Earned</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event, points_earned in events_attended.items %}
                        <tr>
                            <td>{{ event }}</td>
                            <td class="text-center">{{ points_earned }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block secondBlock %} {% endblock %}

{% block thirdBlock %} {% endblock %}

{% block fourthBlock %} {% endblock %}
