{% extends "base/base.html" %}

{% load static %}

{% block description %} "Point Tracker | SWE - University of Louisiana at Lafayette" {% endblock %}

{% block title %} "SWE ULL | Point Tracker" {% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} ')
{% endblock %}

{% block gradient %}
    <div class="gradient"></div>
{% endblock %}

{% block headerHeading %}
    ComingSoon
    <hr> Point Tracker
{% endblock %}

{% block headerSubheading %}
    Track Volunteer Points and Events You've Been To Here
{% endblock %}

{% block headerButton %} {% endblock %}



{% block firstBlock %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}

{% block secondBlock %} {% endblock %}

{% block thirdBlock %} {% endblock %}

{% block fourthBlock %} {% endblock %}