{% extends "base/base.html" %}

{% load static crispy_forms_tags %}

{% block description %} "Point Tracker | SWE - University of Louisiana at Lafayette" {% endblock %}

{% block title %} "SWE ULL | Point Tracker" {% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} ')
{% endblock %}

{% block gradient %}
    <div class="gradient"></div>
{% endblock %}

{% block headerHeading %}
    Point Tracker
{% endblock %}

{% block headerSubheading %}
    Track Volunteer Points and Events You've Been To Here
{% endblock %}

{% block headerButton %} {% endblock %}


{% block firstBlock %}
    <div class="container">
        <div class="whitespace">
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>


{% endblock %}

{% block secondBlock %} {% endblock %}

{% block thirdBlock %} {% endblock %}

{% block fourthBlock %} {% endblock %}

