{% extends "base/base.html" %}

{% comment %}
{% extends "base/base.html" %}

{% load static crispy_forms_tags %}

{% block description %} "Point Tracker | SWE - University of Louisiana at Lafayette" {% endblock %}

{% block title %} Point Tracker | SWE - University of Louisiana at Lafayette {% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} ')
{% endblock %}

{% block gradient %}
    <div class="gradient"></div>
{% endblock %}

{% block headerHeading %}
    Point Tracker
{% endblock %}

{% block headerSubheading %}
    Track Volunteer Points and Events You've Been To Here
{% endblock %}

{% block headerButton %} {% endblock %}


{% block firstBlock %}
    <div class="container">
        <div class="whitespace">
            <h4 class="text-center">
                Point Tracker Log In
            </h4>
            {% csrf_token %}
            {% crispy form %}
            <br>
            <h6 class="text-center">
                Make sure to use the <b>exact</b> first name, last name, and ULID you used to sign up
            </h6>
        </div>
    </div>
{% endblock %}

{% block secondBlock %} {% endblock %}

{% block thirdBlock %} {% endblock %}

{% block fourthBlock %} {% endblock %}

{% endcomment %}



{% load static crispy_forms_tags %}

{% block description %} "Point Tracker | SWE - University of Louisiana at Lafayette" {% endblock %}

{% block title %} Point Tracker | SWE - University of Louisiana at Lafayette {% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'base/img/swe-bug-pattern-purple.jpg' %} ')
{% endblock %}

{% block gradient %}
    <div class="gradient"></div>
{% endblock %}

{% block headerHeading %}
    Point Tracker is Down for Maintenance
{% endblock %}

{% block headerSubheading %}
 Sorry about that! We'll send an email out when everything is fixed!
{% endblock %}

{% block headerButton %} {% endblock %}


{% block firstBlock %}
    <hr>
{% endblock %}

{% block secondBlock %} {% endblock %}

{% block thirdBlock %} {% endblock %}

{% block fourthBlock %} {% endblock %}


