{% extends "base/base.html" %}

{% load static %}

{# Meta #}
{% block description %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}


{# Page Styles #}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'base/assets/chartist-js/chartist.min.css' %}">
{% endblock %}

{# Header #}
{% block headerBackground %}
    url(' {% static 'about/group.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    About Us
{% endblock %}

{% block headerSubheading %}{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}

{% block firstBlockImage %}
    {% static 'base/img/swe-ull-color-logo.png' %}
{% endblock %}

{% block firstBlockText %}
    Founded 10 years ago, SWE ULL strives promotes STEM among women in the Lafayette Area.
    Through SWE, you will have access to:

    <div class="list-group list-group-flush">
        <div class="list-group-item">
            Mock interview and resume review sessions
        </div>
        <div class="list-group-item">
            Financial assistance for travel to conferences in different cities
        </div>
        <div class="list-group-item">
            Professional development through events
        </div>
        <div class="list-group-item">
            And countless volunteer opportunities
        </div>
    </div>



{% endblock %}



{% block secondBlock %}
    <div class="container">
        <div class="whitespace">
            <div class="row">
                <div id="gender-chart" class="col-sm-12 col-md-12 ct-chart ct-major-twelfth"></div>
            </div>
            <br>
            <div class="row">
                <div id="major-chart" class="col-sm-12 col-md-12 ct-chart ct-major-twelfth"></div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block thirdBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container officerContainer text-center">
                <h3 class="post-heading">Our Officers & Advisers</h3>
                <br>
                <div class="card-deck">
                    {% for officer, value in swe_officers_primary.items %}
                        <div class="card">
                            <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                                 src="{% static value.headshot %}">
                            <div class="card-body">
                                <h5 class="card-title">{{ value.title }}</h5>
                                <p class="card-subtitle">
                                    {{ value.first_name }}
                                    {{ value.last_name }}
                                </p>
                                <p class="card-text">
                                    <i class="fa fa-graduation-cap"></i>
                                    {{ value.major }}
                                </p>
                                {% if value.linkedin %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                        <a class="btn btn-dark w-100"
                                           href="{{ value.linkedin }}"
                                           target="_blank">
                                            <i class="fab fa-linkedin fa-lg"></i>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="card-deck">
                    {% for officer, value in swe_officers_secondary.items %}
                        <div class="card">
                            <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                                 src="{% static value.headshot %}">
                            <div class="card-body">
                                <h5 class="card-title">{{ value.title }}</h5>
                                <p class="card-subtitle">
                                    {{ value.first_name }}
                                    {{ value.last_name }}
                                </p>
                                <p class="card-text">
                                    <i class="fa fa-graduation-cap"></i>
                                    {{ value.major }}
                                </p>
                                {% if value.linkedin %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                        <a class="btn btn-dark w-100"
                                           href="{{ value.linkedin }}"
                                           target="_blank">
                                            <i class="fab fa-linkedin fa-lg"></i>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="card-deck">
                    {% for officer, value in swe_officers_tertiary.items %}
                        <div class="card">
                            <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                                 src="{% static value.headshot %}">
                            <div class="card-body">
                                <h5 class="card-title">{{ value.title }}</h5>
                                <p class="card-subtitle">
                                    {{ value.first_name }}
                                    {{ value.last_name }}
                                </p>
                                <p class="card-text">
                                    <i class="fa fa-graduation-cap"></i>
                                    {{ value.major }}
                                </p>
                                {% if value.linkedin %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                        <a class="btn btn-dark w-100"
                                           href="{{ value.linkedin }}"
                                           target="_blank">
                                            <i class="fab fa-linkedin fa-lg"></i>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="btn-group btn-group-sm d-flex" role="group">
                                        <a class="btn btn-dark w-100" href="mailto:{{ value.email }}">
                                            <i class="fa fa-envelope fa-lg"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <br>

                <div class="text-center">Reach all of us at<br>
                    <a href="mailto:swe.ulchapter@gmail.com" target="_blank" rel="noopener"
                       style="color: #551A8B; padding-top: 30vh; font-weight: 800">
                        <i class="fa fa-envelope" style="color: #551A8B">&nbsp;</i>
                        {{ swe_social.email }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block fourthBlock %}
{% endblock %}

{# Page JS #}
{% block page_js %}
    <script src="{% static 'base/assets/chartist-js/chartist.min.js' %}"></script>
    <script src="{% static 'about/demographic_charts/demographic_charts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js">

    </script>
{% endblock %}
