{% extends "base/baseindex.html" %}

{% load static %}

{# Meta #}
{% block description %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    About | SWE - University of Louisiana at Lafayette
{% endblock %}



{# Header #}
{% block headerBackground %}
    url(' {% static 'about/group.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    About Us
{% endblock %}

{% block headerSubheading %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Local Mission Block-->{% endblock %}

{% block firstBlockImage %}
    {% static 'base/img/swe-ull-color-logo.png' %}
{% endblock %}

{% block firstBlockText %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac, tincidunt at leo
    accumsan risus ultrices eu. Mauris vitae vehicula turpis. Aliquam viverra dui sit amet risus
    elementum
    sagittis. In at finibus sem. Viva
{% endblock %}



{# Second Block #}
<!--TODO set up cards in row/col
    so that on iPhone landscape there's only one card showing to prevent text from being cut off
    https://stackoverflow.com/questions/32516886/how-to-make-bootstrap-cards-responsive
    -->
{% block secondBlockComment %}<!--Officers Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container officerContainer text-center">
                <h3 class="post-heading">Our Officers & Advisers</h3>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/adhwa.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">President</h5>
                            <p class="card-subtitle">Adhwa Al Uraimi</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:adhwaa.alaremy@outlook.sa">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <a class="btn btn-dark w-100"
                                   href="https://www.linkedin.com/in/adhwa-al-uraimi-563562149/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/kenedi.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">Vice President</h5>
                            <p class="card-subtitle">Kenedi Habetz</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:kenedi@games2geaux.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <a class="btn btn-dark w-100"
                                   href="https://www.linkedin.com/in/kenedi-habetz-5a9701138/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/alyssa.jpg' %}">

                        <div class="card-body">
                            <h5 class="card-title">Secretary</h5>
                            <p class="card-subtitle">Alyssa DeLattre</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:amd100198@gmail.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <!--
                                <a class="btn btn-dark w-100"
                                   href="https://www.linkedin.com"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                 -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/reece.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Treasurer</h5>
                            <p class="card-subtitle">Reece Frederick</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:rpf7981@gmail.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <!--
                                <a class="btn btn-dark w-100"
                                   href="https://www.linkedin.com/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/spencer.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">Outreach Coordinator</h5>
                            <p class="card-subtitle">Spencer Kowalski</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:spencer.kowalski@gmail.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <a class="btn btn-dark w-100"
                                   href="https://www.linkedin.com/in/spencerkowalski/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/emma.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Fundraising Chair</h5>
                            <p class="card-subtitle">Emma-Evelyn Armato</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:eea1998@gmail.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <!--
                                <a class="btn btn-dark w-100"
                                   href=""
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/al.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">Technical Director</h5>
                            <p class="card-subtitle">Al Sharairi</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Computer Science
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:asharairi@gmail.com">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <a class="btn btn-dark w-100" href="https://www.linkedin.com/in/al-sharairi/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/ashley.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Adviser</h5>
                            <p class="card-subtitle">Ashley Picou Mikolajczyk</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:mikolajczyk@louisiana.edu">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <!--
                                <a class="btn btn-dark w-100" href=""
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img style="object-fit: cover; height: 29vh" class="card-img-top img-fluid"
                             src="{% static 'about/officers/ling.png' %}">

                        <div class="card-body">
                            <h5 class="card-title">Co-Adviser</h5>
                            <p class="card-subtitle">Ling "Jessica" Fei, Ph.D.</p>
                            <p class="card-text">
                                <i class="fa fa-graduation-cap"></i>
                                Ph.D. Chemical Engineering
                            </p>
                            <div class="btn-group btn-group-sm d-flex" role="group">
                                <a class="btn btn-dark w-100" href="mailto:ling.fei@louisiana.edu">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                                <!--
                                <a class="btn btn-dark w-100" href="https://www.linkedin.com/in/al-sharairi/"
                                   target="_blank">
                                    <i class="fab fa-linkedin fa-lg"></i>
                                </a>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center">Reach all of us at<br>
                    <a href="mailto:swe.ulchapter@gmail.com" target="_blank"
                       style="color: #551A8B; padding-top: 30vh; font-weight: 800">
                        <i class="fa fa-envelope" style="color: #551A8B">&nbsp;</i>
                        swe.ulchapter@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}

