{% extends "base/base.html" %}

{% load static %}
{# Meta #}
{% block description %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'events/img/events-header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Current Events
{% endblock %}

{% block headerSubheading %}
{% endblock %}


{% block headerButton %}

{% endblock %}



{# First Block #}

{% block firstBlockImage %}{% static 'getinvolved/heart.png' %}{% endblock %}

{% block firstBlockText %}
    See upcoming events, and events we've already organized this semester here
{% endblock %}



{# Second Block #}
{% block secondBlock %}
    {% for event, data in fall_19.items %}
        <div class="{% cycle 'container-fluid' 'container' %}"
                {% cycle 'style="background-color: #F5F5F5"' '' as block_style %}>
            <div class="whitespace text-center">
                <h4 class="post-subtitle text-center">
                    {{ data.display_title }} - {{ data.display_date }}
                </h4>

                {% if data.display_description %}
                    <h6 class="post-subtitle text-center">
                        {{ data.display_description }}
                    </h6>
                {% endif %}

                {% if event == 'meeting_1' %}
                    <h6 class="post-subtitle text-center">
                        In case you couldn't make it, see the full presentation <a
                            href="https://docs.google.com/presentation/d/18N-AIfqxE5bDBB1adfxtCJz6ZePQFg7lh6yVrF7Ys5M/edit#slide=id.p1">
                        <span style="font-weight: 400;">here</span>
                    </a>
                    </h6>
                {% endif %}

                {% if event == 'upcoming_events' %}
                    <h6 class="post-subtitle text-center">
                        Sign up to join us <a
                            href="https://forms.gle/fJhiaAtUSBNZ1HKb9">
                        <span style="font-weight: 900; color: #6b0392">here!</span>
                    </a>
                    </h6>
                {% endif %}


                <div class="container gallery-container" {{ block_style }}>
                    <div class="tz-gallery">
                        {% if data.img_paths|length == 1 %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <a class="lightbox"
                                       href="{% get_static_prefix %}{{ data.img_paths.0 }}">
                                        <img src="{% get_static_prefix %}{{ data.img_paths.0 }}">
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if data.img_paths|length == 2 %}
                            <div class="row">
                                {% for path in data.img_paths %}
                                    <div class="col-sm-12 col-md-6">
                                        <a class="lightbox"
                                           href="{% get_static_prefix %}{{ path }}">
                                            <img class="imgfit" src="{% get_static_prefix %}{{ path }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if data.img_paths|length >= 3 %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <a class="lightbox"
                                       href="{% get_static_prefix %}{{ data.img_paths.0 }}">
                                        <img class="imgfit" src="{% get_static_prefix %}{{ data.img_paths.0 }}">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                {% for path in data.img_paths %}
                                    {% if forloop.counter == 1 %}
                                        {# there's no "continue" for django for loops #}
                                        {# this is my janky way if implementing one #}
                                    {% else %}
                                        <div
                                                {% if data.img_paths|length == 3 %}
                                                    class="col-sm-12 col-md-6"
                                                {% endif %}
                                                {% if data.img_paths|length == 4 %}
                                                    class="col-sm-12 col-md-4"
                                                {% endif %}
                                                {% if data.img_paths|length == 5 %}
                                                    class="col-sm-12 col-md-3"
                                                {% endif %}
                                        >
                                            <a class="lightbox"
                                               href="{% get_static_prefix %}{{ path }}">
                                                <img class="imgfit" src="{% get_static_prefix %}{{ path }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    {% endfor %}


    <div class="container">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item active">
                    <a class="page-link" href="{% url 'events' %}">Current Events</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'spring19' %}">Spring '19</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'fall18' %}">Fall '18</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'spring18' %}">Spring '18</a>
                </li>
            </ul>
        </nav>
    </div>


{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
{% endblock %}
{% block fourthBlock %}
{% endblock %}
