<div class="container-fluid" style="background-color: #F5F5F5">
    <div class="whitespace">
        <div class="container">
            <div class="table-responsive">
                <table id="points-table" class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Dates</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Registration Price Increase</td>
                        <td>October 2</td>
                    </tr>
                    <tr>
                        <td>SWE UL Chapter 1st General Meeting</td>
                        <td>October 8</td>
                    </tr>
                    <tr>
                        <td>SWE UL Chapter 2nd General Meeting</td>
                        <td>October 29</td>
                    </tr>
                    <tr>
                        <td>Start of WE20</td>
                        <td>November 2</td>
                    </tr>
                    <tr>
                        <td>Career Fair</td>
                        <td>
                            November 4
                            <hr>
                            November 5
                            <hr>
                            November 9
                            <hr>
                            November 10
                            <hr>
                        </td>

                    </tr>
                    <tr>
                        <td>End of WE20</td>
                        <td>November 13</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>