{% extends "base/base.html" %}

{% load static %}
{# Meta #}
{% block description %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}


{# Header #}
{% block headerBackground %}
    url(' {% static 'events/img/events-header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Current Events
{% endblock %}

{% block headerSubheading %}
{% endblock %}


{% block headerButton %}

{% endblock %}

{% block firstBlockImage %}{% static 'getinvolved/heart.png' %}{% endblock %}

{% block firstBlockText %}
    See upcoming events, and events we've already organized this semester here
{% endblock %}


{% block secondBlock %}
    {% include 'events/events_table.html' %}
{% endblock %}

{% block thirdBlock %}
{% endblock %}

{% block fourthBlock %}
    <div class="container">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{% url 'events' %}">Current Events</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'pastevents' %}">Past Events</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}


