{% extends "base/base.html" %}

{% load static %}

{# Meta #}
{% block description %}
    Get Involved | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Get Involved | SWE - University of Louisiana at Lafayette
{% endblock %}



{# Header #}
{% block headerBackground %}
    url(' {% static 'getinvolved/header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Get Involved
{% endblock %}

{% block headerSubheading %}
    Let's Engineer Our Career Together!
{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}

{% block firstBlockImage %}
    {% static 'getinvolved/heart.png' %}
{% endblock %}

{% block firstBlockText %}
    With volunteer opportunities, resume workshops, industry tours, and countless other events
    SWE gives you the ability to develop both personally and professionally. Get involved by filling out the form below!
{% endblock %}






{# Second Block #}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScxZGsu6GWua-ivWjme6SMhm1LsNyM4bDOJk1ZcguZNXxColg/viewform?embedded=true"
                        width="100%" height="2400" frameborder="0" marginheight="0" marginwidth="0">Loading…
                </iframe>


            </div>
        </div>
    </div>
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
{% endblock %}
{% block fourthBlock %}
{% endblock %}