{% extends "base/base.html" %}

{% load static %}

{# Meta #}
{% block description %}
    Get Involved | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Get Involved | SWE - University of Louisiana at Lafayette
{% endblock %}



{# Header #}
{% block headerBackground %}
    url(' {% static 'getinvolved/header.png' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Get Involved
{% endblock %}

{% block headerSubheading %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Google Form Block-->{% endblock %}

{% block firstBlockImage %}
    {% static 'getinvolved/heart.png' %}
{% endblock %}

{% block firstBlockText %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac, tincidunt at leo
    accumsan risus ultrices eu. Mauris vitae vehicula turpis. Aliquam viverra dui sit amet risus
    elementum
    sagittis. In at finibus sem. Viva
{% endblock %}






{# Second Block #}
{% block secondBlockComment %}<!--Gallery Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTd4kKjre8WYaDmHImKs0gb4RPm0azPENJ5WN0KGvtasIAUA/viewform?embedded=true"
                        width="100%" height="779" frameborder="0" marginheight="0" marginwidth="0">Loading...
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}