{% extends "base/baseindex.html" %}

{% load static %}

{# Meta #}
{% block description %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}


{# TODO make image more mobile responsive: whole image is shown when on iPhone X portrait #}
{# Header #}
{% block headerBackground %}
    url(' {% static 'events/img/events-header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Events
{% endblock %}

{% block headerSubheading %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}

{# this page will not have a button on the masthead, so leave this empty #}
{% block headerButton %} {% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Current Events Block-->{% endblock %}

{% block firstBlockImage %}
    {% static 'events/img/orgsync.jpg' %}
{% endblock %}

{% block firstBlockText %}
    See everything we have planned on our
    <a style="color: #551A8B; font-weight: 800;" href="https://orgsync.com/124699/chapter" target="_blank">OrgSync</a>
    page
{% endblock %}



{# Second Block #}
{% block secondBlockComment %}<!--Past Events Block-->{% endblock %}
{% block secondBlock %}
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}

