{% extends "base/baseindex.html" %}

{% load static %}


{# Meta #}
{% block description %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Events | SWE - University of Louisiana at Lafayette
{% endblock %}



{# TODO make image more mobile responsive: whole image is shown when on iPhone X portrait #}
{# Header #}
{% block headerBackground %}
    url(' {% static 'events/img/events-header.jpg' %} ')
{% endblock %}

{# this page will not have a gradient over the masthead, so leave this empty #}
{% block gradient %} {% endblock %}

{% block headerHeading %}
    Events
{% endblock %}

{% block headerSubheading %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tellus augue, feugiat at tincidunt ac, pretium vel
    arcu. Sed odio velit, dictum eu blandit ac orci,
    sed
{% endblock %}


{% block headerButton %}
    <div class="headerButton">
        <div class="clearfix">
            <div class="dropdown show">
                <a class="btn btn-primary" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    See Past Event Pictures
                </a>
                {# ignore can not resolve file error, url will be properly routed #}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/events/fall18">Fall '18</a>
                    <a class="dropdown-item" href="/events/spring18">Spring '18</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Current Events Block-->{% endblock %}

{% block firstBlockImage %}
    {% static 'events/img/org-sync.png' %}
{% endblock %}

{% block firstBlockText %}
    See upcoming events on our
    <a style="color: #551A8B; font-weight: 800;" href="https://orgsync.com/124699/chapter" target="_blank">OrgSync</a>
    page

    <br>
    <br>
    <br>

    Check out some pictures of our Spring 2019 events!
{% endblock %}



{# Second Block #}
{% block secondBlockComment %}<!--Gallery Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                First General Meeting - 1/23
            </h4>
            <div class="container gallery-container" style="background-color: #F5F5F5">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/first-meeting/fm1.png' %}">
                                <img src="{% static 'events/img/carousel/spring19/first-meeting/fm1.png' %}"
                                     alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/first-meeting/fm2.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/first-meeting/fm2.jpg' %}" alt="Park">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/first-meeting/fm3.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/first-meeting/fm3.jpg' %}"
                                     alt="Tunnel">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/first-meeting/fm4.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/first-meeting/fm4.jpg' %}"
                                     alt="Traffic">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/first-meeting/fm5.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/first-meeting/fm5.jpg' %}"
                                     alt="Rails">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                BASF Industry Tour - 2/08
            </h4>
            <img class="img-fluid justify-content-center"
                 src="{% static 'events/img/carousel/spring19/basf/basf1.jpg' %}">
        </div>
    </div>

    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <h4 class="post-subtitle text-center">
                    Westlake Chemical Info Session - 2/21
                </h4>
                <div class="container gallery-container" style="background-color: #F5F5F5">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl1.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl1.jpg' %}"
                                         alt="Bridge">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl2.jpg' %}"
                                         alt="Park">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl3.JPG' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl3.JPG' %}"
                                         alt="Traffic">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                Snacks on the Street: King Cake - 2/28
            </h4>
            <div class="container gallery-container">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snack1.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snack1.jpg' %}"
                                     alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks2.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks2.jpg' %}"
                                     alt="Park">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks3.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks3.jpg' %}"
                                     alt="Traffic">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <h4 class="post-subtitle text-center">
                    Science Olympiad - 3/09
                </h4>
                <div class="container gallery-container" style="background-color: #F5F5F5">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so1.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so1.jpg' %}"
                                         alt="Bridge">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so2.jpg' %}"
                                         alt="Park">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so4.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so4.jpg' %}"
                                         alt="Traffic">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so5.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so5.jpg' %}"
                                         alt="Traffic">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                Big Event and Earth Day - 3/30 & 3/31
            </h4>
            <div class="container gallery-container">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be1.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be1.jpg' %}"
                                     alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be2.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be2.jpg' %}"
                                     alt="Park">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be3.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be3.jpg' %}"
                                     alt="Traffic">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be4.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be4.jpg' %}"
                                     alt="Traffic">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}

<script src=""></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
