{% extends "base/baseindex.html" %}

{% load static %}


{# Meta #}
{% block description %}
    Fall 2018 Events Gallery | SWE - University of Louisiana at Lafayette
{% endblock %}

{% block title %}
    Fall '18 Gallery | SWE - University of Louisiana at Lafayette
{% endblock %}



{# Heading #}
{# This page uses baseindex.html header image and gradient, so those django blocks aren't in here #}


{% block headerHeading %} Fall 2018 Events Gallery {% endblock %}

{# no subheading, leave this empty #}
{% block headerSubheading %} {% endblock %}


{% block headerButton %}
    <div class="headerButton">
        <div class="clearfix">
            <div class="dropdown show">
                <a class="btn btn-primary" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    See Other Event Pictures
                </a>
                {# ignore can not resolve file error, url will be properly routed #}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/events">Spring '19</a>
                    <a class="dropdown-item" href="/events/spring18">Spring '18</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{# First Block #}
{% block firstBlockComment %}<!--Desc Block-->{% endblock %}
{# TODO use a different image here, maybe a purple heart with 'what we do' ?? #}
{% block firstBlockImage %}{% static 'base/img/swe-ull-color-logo.png' %}{% endblock %}
{# TODO add text along the lines of - beef up resume, blah, blah, but most imporantly help us make a difference (link to get invloved) #}
{% block firstBlockText %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper arcu eget nisl
    elementum vulput
{% endblock %}



{# Second Block #}
{% block secondBlockComment %}<!--Gallery Block-->{% endblock %}
{% block secondBlock %}
    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                Kona Ice - 7/25 & 8/22
            </h4>
            <div class="container gallery-container" style="background-color: #F5F5F5">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/fall18/kona-ice/ki1.jpg' %}">
                                <img style="object-fit: fill"
                                     src="{% static 'events/img/carousel/fall18/kona-ice/ki1.jpg' %}"
                                     alt="Rails">
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/kona-ice/ki2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/kona-ice/ki2.jpg' %}">
                                </a>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/kona-ice/ki3.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/kona-ice/ki3.jpg' %}">
                                </a>
                            </div>

                            <div class="col-sm-3 col-md-3">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/kona-ice/ki4.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/kona-ice/ki4.jpg' %}"
                                         alt="Tunnel">
                                </a>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/kona-ice/ki5.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/kona-ice/ki5.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                First General Meeting - 8/30
            </h4>
            <div class="container gallery-container">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/first-meeting/fm1.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/first-meeting/fm1.jpg' %}">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/first-meeting/fm2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/first-meeting/fm2.jpg' %}">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6" style="object-fit: cover">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/fall18/first-meeting/fm3.jpg' %}">
                                    <img src="{% static 'events/img/carousel/fall18/first-meeting/fm3.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <h4 class="post-subtitle text-center">
                    Westlake Chemical Info Session - 2/21
                </h4>
                <div class="container gallery-container" style="background-color: #F5F5F5">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl1.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl1.jpg' %}">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl2.jpg' %}">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6" style="object-fit: cover">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/westlake/wl3.JPG' %}">
                                    <img src="{% static 'events/img/carousel/spring19/westlake/wl3.JPG' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                Snacks on the Street: King Cake - 2/28
            </h4>
            <div class="container gallery-container">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snack1.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snack1.jpg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks2.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks2.jpg' %}">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks3.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/snacks-king-cake/snacks3.jpg' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #F5F5F5">
        <div class="whitespace">
            <div class="container">
                <h4 class="post-subtitle text-center">
                    Science Olympiad - 3/09
                </h4>
                <div class="container gallery-container" style="background-color: #F5F5F5">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so1.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so1.jpg' %}">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so2.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so2.jpg' %}">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so4.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so4.jpg' %}">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <a class="lightbox"
                                   href="{% static 'events/img/carousel/spring19/science-olympiad/so5.jpg' %}">
                                    <img src="{% static 'events/img/carousel/spring19/science-olympiad/so5.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="whitespace">
            <h4 class="post-subtitle text-center">
                Big Event and Earth Day - 3/30 & 3/31
            </h4>
            <div class="container gallery-container">
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be1.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be1.jpg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be2.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be2.jpg' %}">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be3.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be3.jpg' %}">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a class="lightbox"
                               href="{% static 'events/img/carousel/spring19/big-event/be4.jpg' %}">
                                <img src="{% static 'events/img/carousel/spring19/big-event/be4.jpg' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{# About page only has two sections, so leave these empty #}
{% block thirdBlock %}
    {% block thirdBlockComment %} {% endblock %}
{% endblock %}
{% block fourthBlock %}
    {% block fourthBlockComment %} {% endblock %}
{% endblock %}


